$size: 15vw;
.workingWith {
  width: 100vw;
  height: 110vh;
  display: flex;
  scroll-behavior: smooth;
  z-index: 15;
  position: relative;
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    height: 110vh;
    margin: auto;
    &__logo {
      z-index: 15;
      width: 90vw;
      height: 90vh; 

      .image{
        position: sticky;
        top: 5vh;
        width: clamp(300px, 23vw, 600px);
      }
    }
  }
}

.artbag {
}
.bancoFormosa {
}
.wyndham {
}
.rockCycle {
  width: 15vw !important;
  height: 15vh;
}
.piba {
    width: 13vw !important;
    height: 25vh;
}
.diamondsFilm {
  width: 18vw !important;
  height: 27vh;

}
.meta {
  width: 20vw !important;
  height: 8.5vh;

}
.dannyOcean {
}
.bodegaAraujo {
    width: $size * 2 !important;
    height: 325px;
  
}
