@import "../../variables";
$size: 15vw;

.workingList {
  scroll-margin-top: -3px;
  width: 100vw;
  height: 900vh;
  display: flex;
  flex-direction: column;
  position: relative;
  &__container {
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    &__banner {
      height: 15vh;
      width: 93vw;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      &:nth-child(even) {
        background-color: black;
      }
      &__text {
        font-size: 65px;
        font-family: "Clash Display", serif;
        font-weight: bold;
      }
      &__subtitle {
        font-size: 25px;
        font-family: "Roboto", sans-serif;
      }
    }
    &:nth-child(odd) {
      background-color: black;
      color: white;
    }

    &__img {
      width: 100vw;
      height: 85vh;
      background-size: cover;
    }
  }
}

.artbag {
  background-image: url(../../images/ARTBAG.webp);
}
.bancoFormosa {
  background-image: url(../../images/BANCOFORMOSA.webp);
}
.wyndham {
  background-image: url(../../images/WYNDHAM.png);
}
.rockCycle {
  background-image: url(../../images/ROCKCYCLE.webp);
}
.piba {
  background-image: url(../../images/PIBA.webp);
}
.diamondsFilm {
  background-image: url(../../images/DIAMONDSFILM.webp);
}
.meta {
  background-image: url(../../images/META.webp);
}
.dannyOcean {
  background-image: url(../../images/DANNYOCEAN.webp);
}
.bodegaAraujo {
  background-image: url(../../images/BODEGAARAUJO.webp);
}

@media (width <= $notebook) {
  .workingList {
    &__container {
      &__banner {
         &__text {
          font-size: 40px;
          font-family: "Clash Display", serif;
          font-weight: bold;
        }
        &__subtitle {
          font-size: 18px;
          font-family: "Roboto", sans-serif;
        }
      }
      &:nth-child(odd) {
        background-color: black;
        color: white;
      }

      &__img {
        width: 100vw;
        height: 85vh;
        background-size: cover;
      }
    }
  }
}
