@import "../../variables";
.lab {
  width: 100vw;
  height: 100svb;
  background-image: url("../../images/fondogris.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.spacer {
  width: 150px;
  background-color: black;
  height: 5px !important;
}
