@import "../../variables";
.lab {
  width: 100vw;
  height: 110vh;
  background-image: url("../../images/fondogris.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.spacer {
  width: 150px;
  background-color: black;
  height: 5px !important;
}

.border {
  border: 3px solid black;
  border-radius: 70px;
  width: 250px;
  display: flex;
  justify-content: center;
  &__text {
    font-weight: 700;
    font-size: 40px;
  }
}
