.LabCreating {
  display: flex;
  flex-direction: column;
  width: 862px;
  height: 416px;
  scale: 0.9;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    max-width: 862px;
    font-family: Roboto;
    font-size: 100px;
    line-height: 100px;

    span {
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}
