@import "../../globals.scss";
@import "../../variables";

.header {
  pointer-events: none;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 15;
  mix-blend-mode: difference;
  padding-inline: 12px;

  &__menu {
    font-weight: 400;
    font-size: clamp(0.7rem, 1vw, 1.25rem);
    height: 90svh;
    margin-top: 5svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    &__left {
      pointer-events: all;
      display: flex;
      justify-content: space-between;

      .logo {
        position: absolute;
        right: 50vw;
        top: 60px;
        transform: translate(50%, -50%);
      }
    }
    &__right {
      pointer-events: all;
      display: flex;
      justify-content: space-between;
    }
  }
}

.hover {
  display: inline-block;
  position: relative;
  mix-blend-mode: difference;
}

.hover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: white;
  mix-blend-mode: difference;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

path {
  fill: white;
}

@media (width <= $cell) {
  .header {
    &__menu {
      height: 90svh;
      height: 90dvh;
      &__left {
        .logo {
          top: 25px;
          left: 33%;
          transform: scale(0.8);
        }
      }
    }
  }
}
