@import "../../variables";
.onFire {
  background-image: url("../../images/fondogris.png");
  background-size: cover;
  width: 100%;
  height: 110dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &__title {
      font-family: "Wagon";
      font-size: 3rem;
    }
    &__content {
      font-family: "Roboto";
      font-size: 1.5rem;
      text-align: center;
    }
    &__image {
      width: 70%;
      height: auto;
    }
  }
}

@media (width >= $cell) {
}
