@import "../../variables";
.onFire {
  font-family: Roboto;

  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 207px 0;
  gap: 30px;
  &__images {
    &__pill {
      border: 2px solid white;
      padding: 8px 30px;
      border-radius: 50px;
      margin-bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__onfire {
      position: relative;
      top: -50px;
    }
  }
  &__workshops {
    text-align: center;
    line-height: 50px;
  }
  &__texts {
    display: flex;
    justify-content: center;
    align-items: center;
    &__animation {
      display: flex;
      align-items: center;
    }
  }
  &__newEdition {
    padding-top: 20px;
    align-self: center;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}

@media (width <= $cell) {
  .onFire {
    &__container {
      gap: 60px;
      &__title {
        font-family: "Wagon";
        font-size: 2.5rem;
        text-align: center;
        width: 50%;
      }
      &__content {
        font-size: 1rem;
        text-align: center;
        width: 95%;
      }
      &__image {
        width: auto;
      }
    }
  }
}
