@import "../../variables.scss";

.ourServices {
  background-color: black;
  background-image: url("../../images/ONDAS.png");
  background-size: cover;
  width: 100vw;
  height: 110dvh;
  color: white;
  scroll-behavior: smooth;

  @include flexRow(center, center);
  &__container {
    cursor: default;

    width: 90%;
    height: 65vh;
    margin: auto;
    @include flexRow(space-between, none);
    &__title {
      @include flexColumn(space-between, none);
      height: 99%;
      &__first {
        font-family: "Wagon", sans-serif;
        font-size: clamp(2rem, 3vw, 4rem);
      }
      &__second {
        font-size: clamp(1rem, 2vw, 1.5rem);
        font-family: "Roboto";
      }
    }
    &__menu {
      @include flexColumn(space-between, none);
      font-size: clamp(1rem, 2vw, 1.93838rem);
      width: 35%;
      &__text {
        font-family: "Roboto";
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
.arrow {
  width: 50px;
}

@media (width >= $cell) {
}
