@import "../../variables.scss";

.ourServices {
  background-color: black;
  background-size: cover;
  width: 100vw;
  height: 110dvh;
  color: white;
  scroll-behavior: smooth;

  @include flexRow(center, center);
  &__container {
    width: 90%;
    height: 65vh;
    margin: auto;
    @include flexRow(center, none);
    gap: 6px;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 70%;
      padding: 100px;
      flex-shrink: 0;
      font-size: 50px;
      line-height: 50px;
      font-weight: 100;
      text-align: center;
      width: 454px;
      text-align: center;
    }
    &__item span:last-child {
      font-weight: 900;
      font-family: "robotoMedium";
    }
    &__item:hover {
      background-color: #fff;
      color: black;
    }
  }
}
