@import "../../variables";

@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto-Medium.ttf");
}

.hero {
  font-family: "Roboto";
  width: 100%;
  height: 105dvh;
  background-image: url("../../images/fondogris.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  scroll-behavior: smooth;
  position: relative;

  &__title {
    padding-top: 100px;
    &__moment {
      margin: auto;
      display: flex;
      justify-content: center;
      gap: 50px;
      font-size: clamp(150px, 280px, 10vw);
      line-height: 4vw;
      font-weight: normal;
    }
  }
  &__subtitle {
    padding-top: 67px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    width: 53ch;
    text-align: center;
  }
}

.roboto {
  font-family: "Roboto";
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;

    &__title {
      font-size: 28px;

      &__moment {
        width: 80%;
        font-size: 16px;
        line-height: 20px;
      }
    }

    &__subtitle,
    h2 {
      font-size: 18px;
    }
  }
}

@media (width <= $cell) {
  .hero {
    gap: 30px;
    &__title {
      opacity: 0;
      animation: fadeIn 0.5s normal 2.9s 1 forwards;
      font-family: "Wagon";
      &__moment {
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        line-height: 24px;
      }
    }
    &__subtitle,
    h2 {
      opacity: 0;
      animation: fadeIn 0.6s normal 3s 1 forwards;
      font-family: "Roboto";
      font-size: 12px;
      text-align: center;
      font-weight: 400;
    }
  }
}
