.horizontal {
  position: relative;
  height: 1110vh;

  &__container {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: black;

    &__motion {
      display: flex;
      position: relative;

      &__molecule {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .pic {
          width: 100vw;
        }
        &__particles {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          position: absolute;
          z-index: 3;
          &__item {
            font-size: 30px;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            &__text {
              width: 50vw;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              gap: 10px;
              &__second,
              &__first {
                display: flex;
                gap: 10px;
                div {
                  justify-content: space-between;
                  align-items: center;
                  display: flex;
                  width: 100%;
                }
              }
              &__second {
                div {
                  justify-content: space-between;
                  display: flex;
                  width: 100%;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
