$yellowGreen: yellowgreen;
$yellow: yellow;
$royalblue: royalblue;
$magenta: magenta;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  overscroll-behavior: none;
  -ms-overflow-style: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: fixed;
  left: 0;
  right: 0;
  will-change: transform;

  .ghost {
    width: 100vw;
  }
}

.thumbnails-container {
  position: relative;
  height: 100vh;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 160px;
  background-color: red;
  border: 40px solid $yellowGreen;

  .thumbnails {
    position: relative;
    display: flex;
    border: 20px solid $yellow;

    & > *:not(:last-child) {
      margin-right: 45px;
    }

    .thumbnail {
      height: 40vh;
      width: 700px;
      background-color: $royalblue;
      border: 15px solid magenta;
      z-index: 10;
    }
    .thumbnailred {
      background-color: red;
    }
  }
}
