.weBelive {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 200px;
  padding-bottom: 50vh;
  width: 100vw;
  font-family: Roboto;
  &__content {
    font-size: 80px;
    text-align: justify;

    &__withLine {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    &__p {
      display: flex;
      justify-content: space-between;
    }
  }
}
