@import "../../variables";

.consorcio {
  width: 100%;
  background-color: black;
  color: white;

  display: grid;
  grid-template-areas:
    "text images"
    "bottom bottom";
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  font-family: $roboto;
  &__text {
    img {
      scale: 0.85;
    }
    display: flex;
    flex-direction: column;
    gap: 49px;
    font-family: Roboto;
    font-size: 30px;
    text-align: right;
    align-items: flex-end;
    grid-area: text;
  }
  &__images {
    display: flex;
    gap: 14px;
    grid-area: images;
    img {
      width: 175px;
      height: 175px;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
  &__bottom {
    padding-top: 100px;
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 58px;

    &__images {
      display: flex;
      justify-content: space-around;
      scale: 0.85;
    }
    &__upcoming {
      align-self: center;
      font-weight: 400;
      font-size: 30px;
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }
}
@media (width <= $notebook) {
  .consorcio {
    &__container {
      height: 120vh;
      &__text {
        &__title {
          font-size: 2.5rem;
        }
        &__animationTop {
          font-size: 1.1rem;
          width: 60%;
          &__first {
            @include flexRow(space-between, center);
          }

          &__second {
            @include flexRow(space-between, center);
          }
        }
        &__animationBot {
          width: 60%;
          font-size: 1.1rem;
          &__text {
            @include flexRow(space-between, none);
          }
        }
        &__last {
          @include flexRow(space-between, none);
          width: 60%;
          font: 1.1rem "Roboto";
          &__music {
            text-align: end;
          }
        }
      }
      &__img {
        img {
          width: auto;
          height: 70vh;
        }
      }
    }
  }
}

@media (width <= $cell) {
  .consorcio {
    width: 100%;
    height: 110dvh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
      width: 85%;
      margin: auto;
      height: 80%;
      @include flexColumn(center, center);
      gap: 30px;
      &__text {
        height: auto;
        @include flexColumn(center, center);
        gap: 20px;
        position: relative;
        &__title {
          width: 60%;
          font-size: 25px;
          font-family: "Wagon", sans-serif;
          text-align: center;
        }
        &__animationTop {
          font-size: 1rem;
          width: 100%;
          &__first {
            @include flexRow(space-between, center);
          }

          &__second {
            @include flexRow(space-between, center);
          }
        }
        &__animationBot {
          width: 100%;
          font-size: 1rem;
          &__text {
            @include flexRow(space-between, none);
          }
        }
        &__last {
          @include flexRow(space-between, none);
          width: 90%;
          font: 1.3rem "Roboto";
          position: absolute;
          bottom: -48vh;
          &__music {
            text-align: end;
          }
        }
      }
      &__img {
        img {
          width: auto;
          height: 40vh;
        }
      }
    }
  }
}
