* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}
a,
a:visited {
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}

@keyframes yep {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}