* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  animation-name: yep;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 2.40s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  scroll-snap-type: y mandatory;
  width: 100vw;
}

a,
a:visited {
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}


@keyframes yep {
  0%{
    overflow-y: hidden;
  }
  100%{
    overflow-y: auto;
  }
  
}