@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$roboto: "Roboto", sans-serif;
@font-face {
  font-family: "Wagon";
  src: local("Wagon-Bold.woff"), url("./components/fonts/Wagon-Bold.woff");
}

