@font-face {
  font-family: "Wagon";
  src: local("Wagon-Bold.woff"), url("./components/fonts/Wagon-Bold.woff");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("./font/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Regular.ttf");
}

.roboto {
  font-style: normal;
  font-family: "Roboto";

}

.robotoMedium{
  font-style: normal;
  font-family: "RobotoMedium";
}
