@import "../../variables";

.weAreProud {
  background-image: url(../../images/IMAGE-BACKGROUND.jpg);
  background-size: cover;
  width: 100vw;
  height: 110vh;
  color: white;
  @include flexColumn(center, center);
  &__container {
    @include flexColumn(space-between, center);
    height: 50vh;
    &__title {
      p {
        font-size: 40px;
        font-family: "Roboto";
        font-weight: normal;
        font-family: "ClashDisplay-Medium";
      }
    }
    &__content {
      width: 75vw;
      display: flex;
      &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;

        &__logo {
          display: flex;
          align-items: center;
          &__marca {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
@mixin wyh($width, $height) {
  width: $width + px;
  height: $height + px;
}
.bancoFormosa {
  @include wyh(229, 97);
}
.wyndham {
  @include wyh(279, 78);
}
.bodegaAraujo {
  @include wyh(438, 106);
}
.logoArtbag {
  @include wyh(215, 71);
}
.meta {
  @include wyh(224, 49);
}
.diamondsFilm {
  @include wyh(203, 153);
}
.dannyOcean {
  @include wyh(215, 99);
}
.piba {
  @include wyh(99, 99);
}
.rockCycle {
  @include wyh(165, 99);
}
