.yourMoment {
  height: 115vh;
  background-image: url("../../images/fondogris.png");
  background-size: cover;
  width: 100%;
  display: flex;
  place-items: center;
  place-content: center;
  &__container {
    font-family: Roboto;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    &__first {
      display: flex;
      align-items: baseline;
    }
    &__text {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
}

.spacer {
  height: 2px;
  background-color: black;
  transform-origin: left;
}
