.underOneRoof {
  background-color: black;
  color: #fff;
  width: 100vw;
  height: 110svh;
  padding-left: 95px;
  padding-top: 259px;
  font-family: Roboto;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70%;
    justify-content: space-between;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p:first-child {
        font-size: 50px;
        font-weight: 700;
      }
      p {
        font-size: 30px;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      font-family: Roboto;
      font-size: 35px;
      justify-content: space-around;
      &__molecules {
        &__particles {
          display: grid;
          grid-template-columns: 8% 80%;
          align-items: center;
          padding: 25px;
          padding-bottom: 35px;
          gap: 10px;
        }
      }
    }
  }
}
