@import "../../variables";

.presentation {
  background-image: url("../../images/IMAGE-BACKGROUND.jpg");
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
